# Ignore the massive build folder
/build/

# Ignore kas layers folder
/layers/

# Ignore shared cache and downloads for kas build
/downloads/
/sstate-cache/

# Ignore BitBake's execution logs
bitbake.lock
pseudo/

# Ignore emu files
meta-custom-games/recipes-core/custom-roms/files/gba/*.gba
meta-custom-games/recipes-core/custom-roms/files/n64/*.z64
meta-custom-games/recipes-core/custom-roms/files/psp/*.iso
meta-custom-games/recipes-core/custom-roms/files/gamecube/*.rvz


#Ignore vscode folders
.vscode
.vscode-server/