[Unit]
Description=Retro Launcher Web UI
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/root/webui
ExecStart=/usr/bin/python3 app.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target